---
import Link from './Link.astro';
import {
  SITE_AUTHOR,
  AUTHOR_URL,
  EXTERNAL_IMPRINT,
  EXTERNAL_PRIVACY,
} from '../consts';
const today = new Date();
---

<footer
  class='z-10 flex h-16 w-full flex-row items-center gap-4 border-t border-neutral-600 p-4'
>
  <div class='flex w-fit flex-row'>
    <div>MIT License &copy;&ThinSpace;</div>
    <div class='font-mono'>{today.getFullYear()}</div>
  </div>
  <Link href={AUTHOR_URL}>{SITE_AUTHOR}</Link>
  <div>/</div>
  <Link href={EXTERNAL_IMPRINT}>imprint</Link>
  <Link href={EXTERNAL_PRIVACY}>privacy</Link>
</footer>
